html{
    background-color: white;
    width: 100%;
    font-family: "muli", sans-serif;
    color: rgb(50, 50, 50);
    font-size: 16px;
}
body{
    margin: 0px;
    height: 100%;
    line-height: 160%;
}

h1{
    font-size: 240%;
    padding: 20px 0px;
}
#menu{
    display: flex;
    height: 130px;
    margin: 0px 80px;
    align-items: center;
    justify-content: center;
}
#logo{
    height: 100px;
    float: left;
}
#fejlec_img{
    height: auto;
    width: 100%;
}
#menu li{
    display: inline;
    color: rgba(255, 123, 0, 0.918);
    padding: 20px;
}
#menu ul{
    align-content: center;
    margin-bottom: 0px;
}
#header{
    background-image: url(feladat/képek/header.jpg);
    height: 600px;
    width: 100%;
    background-size:cover;
    color: white;
    background-position: center;
    display: flex;
}
#header_text{
    margin: auto;
    width: max-content;
    text-align: center;
    padding: 100px 0px 100px 0px;
    line-height: 30px;
}
strong{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
}
h1,h2,h3,h4{
    font-family: "Montserrat", sans-serif;
}

#box_tart{
    display: flex;    
    margin: 50px;
}
#box_video{
    max-width: 50%;
    height: max-content;
    align-self: center;
}
#box_video img{
    width: 90%;
    height: 90%;
    float: right;
}
#box_r{
    width: 45%;
    padding: 0px 20px;
}


.narancs_box{
    border: orangered solid 2px;
    width: max-content;
    text-align: center;
    padding: 15px;
    list-style: none;
    margin: 30px auto;
    color: orangered;
    border-radius: 5px;
}


#dich{
    background-color: rgb(196, 232, 245);
}
#dich_title h1,h2{
    text-align: center;
    padding: 0px;
}
#dich_title h2{
    font-size: 30px;
}
#dich_tart{
    padding: 50px;
}
#dich_text{
    display: flex;
    justify-content: center;
}
#dich_text h2{
    text-align: left;
    color: orangered;
    font-size: 30px;
}
#wod, #basics, #strength{
    padding: 20px;
    width: 30%;
}

#train_tart, #miss_tart{
    display: flex;
    margin: 20px 50px;
}
#train_img, #miss_img{
    width: max-content;
    margin: auto;
}
#train_r, #miss_r{
    width: 50%;
}
#training li{
    float: left;
}


#preise{
    background-color: rgb(196, 232, 245);
}
#preise_tart{
    margin: auto;
    padding: 20px;
}
#preise_top{
    text-align: center;
}
#preise_bot{
    display: flex;
    justify-content: center;
    padding: 20px 0px 70px 0px;
}
#preise_l, #preise_c, #preise_r{
    width: 30%;
    padding: 10px;
}
#preise h2{
    text-align: left;
    color: orangered;
    font-size: 180%;
    margin-top: 0px;
}
#preise li{
    margin-bottom: 5px;
}

#osztott{
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    height: 500px;
}
#oszt_l, #oszt_c, #oszt_r{
    width: 100%;
    height: 100%;
}
#oszt_l{
    background-image: url(feladat/képek/start.jpg);
}
#oszt_c{
    background-image: url(feladat/képek/szemelyi.jpg);
}
#oszt_r{
    background-image: url(feladat/képek/tartos.jpg);
}
#oszt_l_t, #oszt_c_t, #oszt_r_t{
    padding: 20px;
}
#oszt_l_t li, #oszt_c_t li, #oszt_r_t li, #header li{
    color: white;
    border-color: white;
}


#lablec_u{
    background-image: url(feladat/képek/header.jpg);
    color: white;
    text-align: center;
    height: max-content;
    background-position: center center;
    width: 100%;
    background-size: cover;
}
#lablec_u_tart{
    padding: 20px;
}
#lablec_d_tart{
    display: flex;
    padding: 30px 60px;
    justify-content: center;
}
#lab_l, #lab_c, #lab_r{
    width: 33%;
    padding: 20px;
}


#lablec_veg{
    padding: 10px;
    color: orangered;
    text-align: center;
    background: rgb(54, 54, 54);
    height: 100px;
}
#folge_img{
    width: 100%;
}
#folge_img img{
    width: 60px;
    margin: 0px 20px;
}

@media only screen and (min-width: 300px) and (max-width: 850px){
    #box_tart, #miss_tart{
        display: block;
        margin: 20px 0px; 
        height: max-content;
    }
    #box_r, #dich_text, #miss_tart{
        margin: auto;
        width: 65%;
        max-width: 80%;
        padding: 30px 0px;
    }
    #box_video{
        display: flex;
        height: fit-content;
        justify-content: center;
        margin: 30px auto;
        max-width: 65%;
    }
    
    #box_video img, #train_img img, #miss_img img{
        max-width: 100%;
        float: none;
    }
    #box_li{
        margin: 50px auto;
    }

    #dich_tart{
        padding: 50px 0px;
    }
    #dich_text{
        display: block;
    }
    #wod, #basics, #strength{
        width: 100%;
        padding: 20px 0px;
    }



    #train_tart{
        display: block;
        height: max-content;
    }
    #train_img{
        display: flex;
        height: fit-content;
        justify-content: center;
        margin: 30px auto;
        max-width: 75%;
    }
    #train_r{
        margin: auto;
        width: 75%;
        max-width: 80%;
        padding: 30px 0px;
    }
    #train_li{
        
    }

    #preise_top, #preise_bot{
        width: 75%;
        margin: auto;
    }
    #preise_bot{
        display: block;
    }
    #preise_l, #preise_c, #preise_r{
        padding: 15px 0px;
        width: 100%;
    }
    #miss_r{
        margin: auto;
        width: 100%;
        max-width: 100%;
        padding: 30px 0px;
        margin: 0px;
    }
    #miss_img{
        display: flex;
        height: fit-content;
        justify-content: center;
        margin: 30px auto;
        max-width: 85%;
    }


    #osztott{
        height: max-content;
        display: block;
    }
    #oszt_l, #oszt_c, #oszt_r{
        background-repeat: no-repeat;
        background-size: cover;
        height: 150%;
        margin: 3px 0px;
        background-position: center center;
        padding: 20px;
    }


    #lablec_u_tart{
        width: 75%;
        margin: auto;
        padding: 50px;
    }
    #lablec_d_tart{
        display: block;
        width: 75%;
        margin: auto;
    }
    #lab_l, #lab_c, #lab_r{
        width: 100%;
    }
    #folge_img img{
        display: block;
        margin: 50px 0px;
    }
    #lablec_veg p{
        width: 75%;
        margin: auto;
    }
}

@media only screen and (min-width: 300px) and (max-width: 1280px){
    
}


