html{
    background-color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
    height: 100%;
    line-height: 160%;
}
h1{
    font-size: 240%;
    padding: 20px;
}
#menu{
    height: 100px;
}
#logo{
    height: 100%;
    float: left;
    margin-left: 50px;
}
#fejlec_img{
    height: auto;
    width: 100%;
}
#menu li{
    display: inline;
    color: rgba(255, 123, 0, 0.918);
    padding: 30px;
}
#menu ul{
    display: inline;
    float: right;
}
#header{
    background-image: url(feladat/képek/header.jpg);
    height: 600px;
    width: 100%;
    background-size:cover;
    color: white;
    background-position: center;
}
#header_text{
    margin: auto;
    width: max-content;
    text-align: center;
    padding: 100px 0px 100px 0px;
}
strong{
    font-size: 400%;
}


#box{
    display: flex;
    padding-top: 30px;
    height: max-content;
    padding-bottom: 50px;
}
#box_video{
    float: left;
    width: 50%;
    display: flex;
}
#box_video img{
    margin: auto;
    padding-top: 110px;
    width: 86%;
}
#box_r{
    width: 50%;
}
.narancs_box{
    border: orangered solid 1px;
    width: 120px;
    text-align: center;
    padding: 10px;
    list-style: none;
    margin: auto;
    color: orangered;
    border-radius: 5px;
}


#dich{
    background-color: rgb(196, 232, 245);
}
#dich_title h1,h2{
    text-align: center;
}
#dich_title h1{
    padding-top: 50px;
}