html{
    background-color: white;
    width: 100%;
    font-family: "muli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0px;
    height: 100%;
    line-height: 160%;
}

h1{
    font-size: 240%;
    padding: 20px 0px;
}
#menu{
    height: 100px;
}
#logo{
    height: 100%;
    float: left;
    margin-left: 50px;
}
#fejlec_img{
    height: auto;
    width: 100%;
}
#menu li{
    display: inline;
    color: rgba(255, 123, 0, 0.918);
    padding: 30px;
}
#menu ul{
    display: inline;
    float: right;
}
#header{
    background-image: url(feladat/képek/header.jpg);
    height: 600px;
    width: 100%;
    background-size:cover;
    color: white;
    background-position: center;
}
#header_text{
    margin: auto;
    width: max-content;
    text-align: center;
    padding: 100px 0px 100px 0px;
}
strong{
    font-size: 400%
}


#box_tart{
    display: flex;    
    margin: 50px;
}
#box_video{
    width: 55%;
}
#box_video img{
    padding-top: 100px;
    width: 100%;
    
}
#box_r{
    width: 45%;
    padding: 0px 20px;
}


.narancs_box{
    border: orangered solid 1px;
    width: max-content;
    text-align: center;
    padding: 15px;
    list-style: none;
    margin: 30px auto;
    color: orangered;
    border-radius: 5px;
}


#dich{
    background-color: rgb(196, 232, 245);
}
#dich_title h1,h2{
    text-align: center;
    padding: 0px;
}
#dich_tart{
    padding: 50px;
}
#dich_text{
    display: flex;
}
#wod, #basics, #strength{
    padding: 20px;
    width: 30%;
}

#train_tart{
    display: flex;
    padding: 20px;
}
#train_img{
    width: 35%;
    margin: auto;
}
#train_r{
    width: 50%;
}
#training li{
    float: left;
}


#preise{
    background-color: rgb(196, 232, 245);
}
#preise_tart{
    margin: auto;
    padding: 20px;
}
#preise_top{
    text-align: center;
}
#preise_bot{
    display: flex;
    justify-content: center;
    padding: 20px 0px 70px 0px;
}
#preise_l, #preise_c, #preise_r{
    width: 30%;
    padding: 10px;
}
#preise h2{
    text-align: left;
    color: orangered;
    font-size: 180%;
    margin-top: 0px;
}
#preise li{
    margin-bottom: 5px;
}

#osztott{
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
}
#osztl, #oszt_c, #oszt_r{
    width: 33%;
}
#oszt_l{
    background-image: url(feladat/képek/start.jpg);
}
#oszt_c{
    background-image: url(feladat/képek/szemelyi.jpg);
}
#oszt_r{
    background-image: url(feladat/képek/tartos.jpg);
}